

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./hello_app/templates/index.css">
</head>
<body style="background-color: white;">
<img src="./hello_app/templates/download.png" alt="TATA CONSULTANCY SERVICES" style="width:170px; height:107.5px">
<div class="flex-container" >
     <div class="border" >
    <div class="project-div">
        <div class="input-div">
            <div class="button div">
                <input type="text" id="text">
                <input type="button"  id="info-btn" value="Get info" style="font-size:25px">

            </div>

        </div>
        
    </div>
    <div class="separate-div">
        
    </div>
    <div class="info-box">

    </div>
</div>
</div>
    
    
</body>
</html>
