<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index_1.css')}}">

</head>

<body style="background-color: white;">

    <div class="header">
        <img src="static/download.jpg" alt="TATA CONSULTANCY SERVICES" style="width:170px; height:107.5px">
    </div>
    <div class="flex-container">
        <div class="left-part">
        <div class="input-div">
            <div class="button div">
                <form action="/processform" method="POST">
                <input type="number" id="text" name="text">
                <input type="button" id="info-btn" value="Get info" style="font-size:25px">
                </form>
            </div>
        </div>
        <div class="project-div">


{% for item in items %}

            {{ item|safe }}
{% endfor %}
        </div>


    </div>

        <div class="separate-div"></div>
        <div class="info-box">
            <div id="meta-data">
            {% for table in tables %}
               {{ table|safe }}

           {% endfor %}
        </div>
    {% for title in titles %}
               {{ title |safe }}

           {% endfor %}

        </div>
    </div>
<script>
$(document).ready(function(){
$("p1").hide();
});
$(".btn2").click(function(){
$("p1").show();
});
</script>
</body>

</html>