<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('about') }}" class="navbar-item">Quality Definitions</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Project Id</a>
            <a href="{{ url_for('contact1') }}" class="navbar-item">Info</a>
            <a href="{{ url_for('contact2') }}" class="navbar-item">Search</a>
            <a href="{{ url_for('/') }}" class="navbar-item">P_ID</a>
            <a href="{{ url_for('/processform') }}" class="navbar-item">Process</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2018</p>
            </footer>
        </div>
    </body>
</html>
